---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":35,"Request":"{\"Limit\":1,\"Page\":1,\"CustomerNo\":\"I00000000080\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMTEvMjAyMSAwNzoxNDoyOSJ9.auUNmWuSNguExpZYc1H_vuc41DNw1ScQBcbZa_jA5kNXOE1aPY5B03ZhLh2-2XCL7GB0zurBoojPtjdxxl09Au1PxPzTayXNKFJOn59V9pV460O5Km-OwIXZ9sXuvhnPo0Xmvt2vFxNol5YBUTjo-3AIPhM0ZrFV4NA5M89oZ0E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1610349277815+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        list\",\"data\":[{\"ClaimReferenceNo\":\"202012-00013\",\"ClaimStatus\":\"Reported\",\"Benefit\":\"Natural
        Death Benefit\",\"AmountSettled\":0.0,\"DateFiled\":\"2020-12-18T17:29:12.72\",\"BranchCode\":\"61040\",\"Claimant\":\"Claimant\",\"ClaimantContactNo\":\"09123456789\",\"COCs\":[\"000000000141\",\"000000000141\",\"000000000141\",\"000000000141\"],\"DateOfNotification\":\"0001-01-01T00:00:00\",\"DateOfLoss\":\"0001-01-01T00:00:00\"}],\"totalPage\":16}"}'
  recorded_at: Mon, 11 Jan 2021 07:14:37 GMT
recorded_with: VCR 6.0.0
