---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":40,"Request":"{\"ClaimStatus\":\"Pending
        Requirements\",\"Page\":1,\"Limit\":1}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMjUvMjAyMSAwMTowMjozNiJ9.Z5d2_GLb-PQRlg1XwxxLTDwYbma335wO87Nmfi429yNgmCw8iUGHuaMAYB05wrRFerPJR5KIZev-0tsUiMfbQuMrLYPZOPlRMBDTNX8LrmxYSlmM7VFTViEuYqvPdxUdtJs2hdPPo6gGpVc8JcF9AGo-lGf-Qm8OXcIxaKGecv0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1611536564562+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        the list\",\"data\":{\"TotalResult\":3,\"DateRequested\":\"2021-01-25T09:02:44.5471001+08:00\",\"ClaimDetailsCollection\":[{\"ClaimsStatus\":\"Pending
        Requirements\",\"Benefit\":\"ADismem,ND,FCA,ADisable,EEBS,EEBA,MUA\",\"BranchCode\":\"10378\",\"InsuranceCustomerNo\":\"I00000000042\",\"IClickCustomerNo\":\"607640240676\",\"Claimant\":\"boiboi\",\"ClaimantContactNumber\":\"69696969\",\"ClaimantRelationship\":\"NOT
        SPECIFIED\",\"AmountSettled\":30000.00,\"ApprovedBy\":\"123123\",\"DateApproved\":\"2020-01-01T00:00:00\",\"DateClaimed\":\"2020-01-02T00:00:00\",\"DateFiled\":\"2020-11-25T16:46:14.213\",\"DateOfLoss\":\"2021-01-08T00:00:00\",\"ClaimsReferenceNumber\":\"202011-00004\",\"Remarks\":\"\",\"PayoutBranch\":\"10818\",\"PayoutReferenceNumber\":\"345345\"}]},\"totalPage\":3}"}'
  recorded_at: Mon, 25 Jan 2021 01:02:44 GMT
recorded_with: VCR 6.0.0
