---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":40,"Request":"{\"ClaimStatus\":\"Reported\",\"Page\":1,\"Limit\":2}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMjUvMjAyMSAwMTowMjozNiJ9.Z5d2_GLb-PQRlg1XwxxLTDwYbma335wO87Nmfi429yNgmCw8iUGHuaMAYB05wrRFerPJR5KIZev-0tsUiMfbQuMrLYPZOPlRMBDTNX8LrmxYSlmM7VFTViEuYqvPdxUdtJs2hdPPo6gGpVc8JcF9AGo-lGf-Qm8OXcIxaKGecv0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1611536582718+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        the list\",\"data\":{\"TotalResult\":22,\"DateRequested\":\"2021-01-25T09:03:02.7188588+08:00\",\"ClaimDetailsCollection\":[{\"ClaimsStatus\":\"Reported\",\"Benefit\":\"EEBS,EEBA,LHCA\",\"BranchCode\":\"61040\",\"InsuranceCustomerNo\":\"I00000000013\",\"IClickCustomerNo\":\"100000000004\",\"Claimant\":\"December
        Seventeen\",\"ClaimantContactNumber\":\"09123456789\",\"ClaimantRelationship\":\"Sibling\",\"DateFiled\":\"2020-12-17T22:22:52.32\",\"ClaimsReferenceNumber\":\"202012-00007\"},{\"ClaimsStatus\":\"Reported\",\"Benefit\":\"EEBA\",\"BranchCode\":\"61040\",\"InsuranceCustomerNo\":\"I00000000015\",\"IClickCustomerNo\":\"100000000023\",\"Claimant\":\"December
        Seventeen\",\"ClaimantContactNumber\":\"09123456789\",\"ClaimantRelationship\":\"Sibling\",\"DateFiled\":\"2020-12-17T22:31:10.193\",\"ClaimsReferenceNumber\":\"202012-00008\",\"Remarks\":\"Test
        Claims\"}]},\"totalPage\":11}"}'
  recorded_at: Mon, 25 Jan 2021 01:03:02 GMT
recorded_with: VCR 6.0.0
