---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":33,"Request":"{\"Limit\":2,\"Page\":1,\"CustomerNo\":\"I00000000131\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMTEvMjUvMjAyMCAwMTozMTozMiJ9.WgLvcwoWckGwJVP5OakG3g4DZjT_wwbn6PB4nqbLbh72ZnH9_LJwRBe24e422YZ4Oyr2erJQF8bmc5JinAQg8k5rnQPEaw7NzY1hmLuck6PFw2jKOXG2tMvKpuvPbm940JbG-8UwRP7fau5CitgFRWoZnDo4HxhB8ZExE9fAtIE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1606267904036+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        data\",\"data\":{\"CustomerDetails\":{\"InsuranceCustomerNo\":\"I00000000131\",\"FirstName\":\"November\",\"MiddleName\":\"FWC\",\"LastName\":\"Nine\",\"DateOfBirth\":\"1996-10-16T00:00:00\",\"PlaceOfBirth\":\"Makati\",\"Gender\":\"F\",\"ValidIDPresented\":\"Student
        ID\",\"ValidIDNumber\":\"181304\",\"MobileNumber\":\"09123456780\",\"Landline\":\"12345678\",\"EmailAddress\":\"kodzuken%-+@domain.com\",\"Address\":\"Makati\",\"Nationality\":\"Filipino\",\"CivilStatus\":\"Single\",\"SourceOfFunds\":\"Commissions\",\"NatureOfWork\":\"Advertising\"},\"COCDetailCollection\":[{\"COCNumber\":\"000000000183\",\"EffectiveDate\":\"11\/6\/2020
        12:00:00 PM\",\"TerminationDate\":\"12\/5\/2020 11:59:00 PM\",\"IssueDate\":\"11\/5\/2020
        1:51:02 PM\",\"ReferenceNumber\":\"FWCUAT007\",\"CategoryCode\":\"IPI\",\"ProductCode\":\"CLPAB\",\"ProviderCode\":\"MICO\",\"PartnerCode\":\"PJ1\",\"PlatformName\":\"FWC
        Mobile App\",\"Address\":\"Makati\",\"BeneficiaryName\":\"FWCTest\",\"BeneficiaryRelationship\":\"Beneficiary\",\"BeneficiaryBirthday\":\"0001-01-01T00:00:00\",\"GuardianBirthday\":\"0001-01-01T00:00:00\",\"IsPaid\":true,\"IsActive\":true},{\"COCNumber\":\"000000000183\",\"EffectiveDate\":\"11\/6\/2020
        12:00:00 PM\",\"TerminationDate\":\"12\/5\/2020 11:59:00 PM\",\"IssueDate\":\"11\/5\/2020
        1:51:02 PM\",\"ReferenceNumber\":\"FWCUAT007\",\"CategoryCode\":\"IPI\",\"ProductCode\":\"CLPAB\",\"ProviderCode\":\"MICO\",\"PartnerCode\":\"PJ1\",\"PlatformName\":\"FWC
        Mobile App\",\"Address\":\"Makati\",\"BeneficiaryName\":\"FWCTest\",\"BeneficiaryRelationship\":\"Beneficiary\",\"BeneficiaryBirthday\":\"0001-01-01T00:00:00\",\"GuardianBirthday\":\"0001-01-01T00:00:00\",\"IsPaid\":true,\"IsActive\":true}]},\"totalPage\":1}"}'
  recorded_at: Wed, 25 Nov 2020 01:31:44 GMT
recorded_with: VCR 6.0.0
