---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":38,"Request":"{\"ActionDone\":\"Upload
        New Submitted Claims Requirement\",\"ClaimsReferenceNo\":\"202101-00055\",\"EmployeeId\":\"00000\",\"SubmittedDocuments\":[{\"DocumentName\":\"EEBC\",\"FileName\":\"test.jpg\",\"FileType\":\".jpg\",\"FileImageData\":\"\"}]}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDIvMDkvMjAyMSAwOToxOToyMyJ9.iSZ3L0DqlW-PAvHlBpcKR-BYsm36sU0uGnXBtCQTBE3LMorr_-nIE424vT7NIt5OYCS-9lwN6tYmzTigBhjzbz67W2oX1By5ykwU4JxeFzb4RglShmfkEdwfKcSZBFBEKJFCovIFxtrlQr1HVC3dCEV5r1ohR2rtyF7Yl3jIFQE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1612862370467+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Claims
        Document Uploaded.\",\"data\":\"202101-00055\",\"totalPage\":0}"}'
  recorded_at: Tue, 09 Feb 2021 09:19:30 GMT
recorded_with: VCR 6.0.0
