---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":40,"Request":"{\"ClaimStatus\":\"Processing\",\"Page\":1,\"Limit\":2}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMjUvMjAyMSAwMTowMjozNiJ9.Z5d2_GLb-PQRlg1XwxxLTDwYbma335wO87Nmfi429yNgmCw8iUGHuaMAYB05wrRFerPJR5KIZev-0tsUiMfbQuMrLYPZOPlRMBDTNX8LrmxYSlmM7VFTViEuYqvPdxUdtJs2hdPPo6gGpVc8JcF9AGo-lGf-Qm8OXcIxaKGecv0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1611536570562+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        the list\",\"data\":{\"TotalResult\":1,\"DateRequested\":\"2021-01-25T09:02:50.5626866+08:00\",\"ClaimDetailsCollection\":[{\"ClaimsStatus\":\"Processing\",\"Benefit\":\"MUA\",\"BranchCode\":\"10811\",\"InsuranceCustomerNo\":\"I00000000008\",\"IClickCustomerNo\":\"202101202108\",\"Claimant\":\"Jake
        Peralta\",\"ClaimantContactNumber\":\"09274355521\",\"ClaimantRelationship\":\"Husband\",\"AmountSettled\":5000.00,\"ApprovedBy\":\"123424\",\"DateApproved\":\"2020-01-21T00:00:00\",\"DateFiled\":\"2021-01-21T10:00:00\",\"DateOfLoss\":\"2021-01-21T00:00:00\",\"ClaimsReferenceNumber\":\"202101-00050\",\"Remarks\":\"Sample\",\"PayoutBranch\":\"10811\"}]},\"totalPage\":1}"}'
  recorded_at: Mon, 25 Jan 2021 01:02:50 GMT
recorded_with: VCR 6.0.0
