<h3>New Account</h3>

<h4>Hi <%= @user.username %>,</h4>
<p>
  Your new account for CLIB - CMS has been created with username <%= @user.username %>.
</p>
<p>
  To access your account, please sign in to Claims Management System with your username and temporary password below.
</p>
<p>
  <strong><%= @password %></strong>
</p>
<p>
  Thank you.
</p>