---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":34,"Request":"{\"Limit\":2,\"Page\":1,\"Search\":\"\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMTEvMjUvMjAyMCAwMToyMjo1OSJ9.Q3-uyv3dEyZpnVzMO7vXNk12Fvbgi0IAznf2uoKAbopUqqshOEBf6rES8A_0w1Y_4HRdxuidlwkSwk2uL2dLoRhUtasnWg4ExeoAbhEJIfMwD4TRszDOAkzm0zQIppshdxnpdsO2lfQbnGW1He110NSVnoDRPzkvs2VLR4kXepg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1606267484081+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Has
        result for the query\",\"data\":[{\"InsuranceCustomerNo\":\"I00000000035\",\"iClickCustomerNo\":\"100000000000\",\"OtherCustomerNo\":null,\"FirstName\":\"September\",\"MiddleName\":\"One\",\"LastName\":\"ProudCloud\",\"DateOfBirth\":\"1998-10-16T00:00:00\",\"PlaceOfBirth\":\"Makati\",\"Gender\":\"Female\",\"TinId\":\"1234567890\",\"ValidIDPresented\":\"Employee
        ID\",\"ValidIDNumber\":\"111111111\",\"MobileNumber\":\"09123456789\",\"Landline\":\"12345678\",\"EmailAddress\":\"kodzuken%-+@domain.com\",\"Address\":null,\"City\":null,\"ZipCode\":null,\"Nationality\":\"Filipino\",\"CivilStatus\":\"Single\",\"SourceOfFunds\":\"Salary\",\"NatureOfWork\":\"Finance\"},{\"InsuranceCustomerNo\":\"I00000000046\",\"iClickCustomerNo\":\"100000000004\",\"OtherCustomerNo\":null,\"FirstName\":\"September\",\"MiddleName\":\"Eight\",\"LastName\":\"ProudCloud\",\"DateOfBirth\":\"1998-10-16T00:00:00\",\"PlaceOfBirth\":\"Makati\",\"Gender\":\"Female\",\"TinId\":\"1234567890\",\"ValidIDPresented\":\"Employee
        ID\",\"ValidIDNumber\":\"111111111\",\"MobileNumber\":\"09123456789\",\"Landline\":\"12345678\",\"EmailAddress\":\"kodzuken%-+@domain.com\",\"Address\":null,\"City\":null,\"ZipCode\":null,\"Nationality\":\"Filipino\",\"CivilStatus\":\"Single\",\"SourceOfFunds\":\"Salary\",\"NatureOfWork\":\"Finance\"}],\"totalPage\":32}"}'
  recorded_at: Wed, 25 Nov 2020 01:24:44 GMT
recorded_with: VCR 6.0.0
