---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":38,"Request":"{\"ActionDone\":\"Update
        Claims Status\",\"ClaimsReferenceNo\":\"202012-00001\",\"Claims\":{\"ClaimStatus\":\"Reported\"},\"EmployeeId\":\"000000\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMDUvMjAyMSAwODowMTo1MyJ9.b2A9CRTBOkTN4Pofm7li4-_pIAewENZIw7DsVYBxoUfuz0sJOKCy1VmlXZUU5W0JHD75BSyiWyMQwTQ2p3-AMEBtaxoPmkZOuYcWlnMJ9pYBL4l98fkGREuxom2QwUYVBLeVR4EAGOqePmYjLodftvdQXwQmTs9bOmRdJZHj4nM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1609833719992+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Claims
        Status Updated.\",\"data\":\"202012-00001\",\"totalPage\":0}"}'
  recorded_at: Tue, 05 Jan 2021 08:01:59 GMT
recorded_with: VCR 6.0.0
