.label-title {
  margin: 10px 0 10px 10px;
}

.label-side .label {
  margin-right: 10px;
  font-weight: 200;
  color: #004C73;
}

.label-side .total {
  color: #8798AD;
  margin-top: 8px;
}

.search-input {
  width: 300px;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #E0E7FF;
  color: #004c73;
}
