---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":40,"Request":"{\"ClaimStatus\":\"For
        Insurer''s Approval\",\"Page\":1,\"Limit\":1}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMjUvMjAyMSAwMToyMDozNiJ9.MxBrUUsS2rROwMI-jOTg-CEqufN2dkz3Tz_vVBk_BxUr0ljSWnOSQ0SdUSbFvUM4kn18u6uhW_BBvFs4fUYivDRp4is3H9aBvNz6sDV7nRzU-GwVs66Ah59jD_-omdFq6BLRdg7YSxnvQSWRwP3I287S87KwZiIP31GatjhZE5U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1611537647305+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"Got
        the list\",\"data\":{\"TotalResult\":1,\"DateRequested\":\"2021-01-25T09:20:47.3057954+08:00\",\"ClaimDetailsCollection\":[{\"ClaimsStatus\":\"For
        Insurer''s Approval\",\"Benefit\":\"ADismem,EEBA\",\"BranchCode\":\"40402\",\"InsuranceCustomerNo\":\"I00000000053\",\"IClickCustomerNo\":\"I00000000080\",\"Claimant\":\"Jane
        Santos\",\"ClaimantContactNumber\":\"09123456789\",\"ClaimantRelationship\":\"Relative\",\"AmountSettled\":21000.00,\"DateFiled\":\"2021-01-22T15:35:46.097\",\"DateOfLoss\":\"2021-01-21T00:00:00\",\"ClaimsReferenceNumber\":\"202101-00063\",\"Remarks\":\"Remarks_Test\"}]},\"totalPage\":1}"}'
  recorded_at: Mon, 25 Jan 2021 01:20:47 GMT
recorded_with: VCR 6.0.0
