:root {
  --solitude-color: #e5f1ff;
  --light-blue-color: #7db6f7;
  --blue-color: #449bff;
  --cello-color: #1f3762;

  --green-color: #2cdea5;

  --red-color: #d96b6b;

  --hit-pink-color: #faaa7f;

  --white-color: #fff;

  --athens-gray-color: #ebedf2;
  --mischka-color: #dbdee4;
  --french-gray-color: #b9c3d7;
  --bali-hai-color: #8696b3;

  --east-bay-color: #435981;
  --sapphire-color: #081a3a;
  --blue-charcoal-color: #020e24;

  --black-pearl-color: #05091b;
}
