---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":38,"Request":"{\"ActionDone\":\"Update
        Claims COCs\",\"ClaimsReferenceNo\":\"202012-00013\",\"COCs\":[\"000000000141\"],\"Claims\":{\"ClaimStatus\":\"Reported\"},\"EmployeeId\":\"000000\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMDEvMTEvMjAyMSAwNjozODozNSJ9.Q2pw4dJ8IlMNazpWNEDNcOGgZdX7Bsq_-Eo_piX8s64vYl9hgNCX8N2s0aDUGT45JZ_eWntf7Qot8Qalx964oWguXXM8R4cx2ON_umFnoPdhqQ5mL3uTdL6bWjmrXhkmLKuwKE8zREW-uJ7CroWoa12z_0_iKKysfyskp576yE8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1610347195550+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"COCs
        with Claims Updated.\",\"data\":\"202012-00013\",\"totalPage\":0}"}'
  recorded_at: Mon, 11 Jan 2021 06:39:55 GMT
recorded_with: VCR 6.0.0
