.text-preamble {
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bali-hai-color);
}

.text-headline {
  font-size: 7.5rem;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  width: 680px;
  text-rendering: optimizeLegibility;
}

.text-title {
  font-size: 2rem;
  text-rendering: optimizeLegibility;
}
.text-title-bold {
  font-size: 2rem;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-family: "Oswald", sans-serif;
}
.text-stats {
  font-size: 1.875rem;
  font-weight: 500;
}
.text-kicker {
  font-size: 1.25rem;
  display: block;
}

.text-bodycopy {
  font-size: 1rem;
  color: var(--cello-color);
}

.text-product-title {
  font-size: 1rem;
  display: block;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3.5em;
  line-height: 1.8em;
}

.text-offer-name {
  font-size: 1rem;
  font-weight: 400;
}

.text-button {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0;
}

.text-product-owner,
.text-product,
.text-section {
  font-size: 0.875rem;
}

.text-modal-header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.text-description,
.text-attribute {
  font-size: 0.75rem;
  font-weight: 500;
}

.text-preamble,
.text-headline,
.text-title-bold,
.text-description,
.text-attribute {
  text-transform: uppercase;
}

.text-preamble,
.text-button,
.text-title,
.text-stats,
.text-kicker,
.text-body-copy,
.text-description,
.text-attribute,
.text-section,
.text-offer-name,
.text-product-owner,
.text-product-title,
.text-product,
.text-modal-header {
  word-wrap: break-word;
  line-height: 1.618;
}
