---
http_interactions:
- request:
    method: post
    uri: https://mno.cebuanalhuillier.com/NCVI/IMSAPI/1.0/InsuranceGateway
    body:
      encoding: UTF-8
      string: '{"ApiKey":"873e38f22ada84d05a196406f33f4b0b","RequestType":20,"Request":"{\"FirstName\":\"Jhay\",\"MiddleName\":\"Tolentino\",\"LastName\":\"Mendoza\",\"DateOfBirth\":\"10-10-2000\"}"}'
    headers:
      X-Api-Key:
      - 2699b981-97f7-4fb3-a4c8-6ec24dc03e83
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJBcHBWZXJzaW9uIjoiMC4xLjAiLCJBcHBOYW1lIjoiQ0xJQiBDTVMiLCJBY2Nlc3NEYXRlIjoiMTEvMjUvMjAyMCAwMToyMjo1OSJ9.Q3-uyv3dEyZpnVzMO7vXNk12Fvbgi0IAznf2uoKAbopUqqshOEBf6rES8A_0w1Y_4HRdxuidlwkSwk2uL2dLoRhUtasnWg4ExeoAbhEJIfMwD4TRszDOAkzm0zQIppshdxnpdsO2lfQbnGW1He110NSVnoDRPzkvs2VLR4kXepg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ResponseDate":"\/Date(1606267477799+0800)\/","Result":"{\"type\":\"Success\",\"message\":\"got
        customer details\",\"data\":{\"InsuranceCustomerNo\":\"I00000000100\",\"iClickCustomerNo\":null,\"OtherCustomerNo\":null,\"FirstName\":\"Jhay\",\"MiddleName\":\"Tolentino\",\"LastName\":\"Mendoza\",\"DateOfBirth\":\"2000-10-10T00:00:00\",\"PlaceOfBirth\":\"Makati
        City\",\"Gender\":\"Male\",\"TinId\":null,\"ValidIDPresented\":\"Passport\",\"ValidIDNumber\":\"111111111\",\"MobileNumber\":\"09381250716\",\"Landline\":\"11111111\",\"EmailAddress\":\"jrockhackerz@gmail.com\",\"Address\":\"Makati
        City\",\"City\":\"Makati City\",\"ZipCode\":\"1212\",\"Nationality\":\"Filipiono\",\"CivilStatus\":\"Single\",\"SourceOfFunds\":\"Allowance\",\"NatureOfWork\":\"Nature
        lang walang work\"},\"totalPage\":0}"}'
  recorded_at: Wed, 25 Nov 2020 01:24:38 GMT
recorded_with: VCR 6.0.0
